{% extends 'base.html.twig' %}

{% block body %}

    {% block intro %}
        <div class="container">
            <div class="row">
                <h4>Hello World.</h4>
                <p>Here lives the index page.</p>
            </div>
        </div>
    {% endblock %}

{% endblock %}